.main {
  width: 100vw;
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #f5f5f5; */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: ease-in-out 0.5s;
  transform: translateX(60%);
  overflow: hidden;
  pointer-events: none;
}

body {
  background-color: black;
  color: #f5f5f5;
}

.main.hidden {
  opacity: 0;
  transform: translateX(-60%);
}
.main.shown {
  opacity: 1;
  transition: ease-in-out 0.5s;
  transform: translateX(0);
  pointer-events: all;
}

.content {
  width: 100%;
  height: 50vh;
  position: relative;
  overflow: hidden;
}

button {
  transition: none;
}

.answerButton {
  margin-left: 15px;
  margin-right: 15px;
  min-width: 120px;
  text-align: center;
  margin-top: 30px;
}

.question {
  transform: translateX(0);
  opacity: 1;
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  text-align: center;
  transition: ease-out 0.6s;
  width: 100%;
  height: 100%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.question.showAnswer {
  transform: translateX(-25%);
}
.answer {
  transform: translateX(25%);
  opacity: 0;
  right: 0;
  height: 100%;
  width: 100%;
  margin-right: 10%;
  position: absolute;
  transition: ease-in-out 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.answer.showAnswer {
  opacity: 1;
  transition-delay: 0.2s;
}

.answerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
  text-align: center;
  margin-left: 50px;
  font-size: 17px;
}

.photo {
  height: 90%;
  max-width: 45%;
  object-fit: contain;
}

.eightContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
  width: 80%;
  /* make spacing between letters */
  letter-spacing: 0.2em;
}
